# ==========================================
# Python
# ==========================================

__pycache__/
*.py[cod]
*$py.class

# ==========================================
# Virtual Environment
# ==========================================

.venv/
venv/
env/

# ==========================================
# Environment Variables
# ==========================================

.env

# ==========================================
# VS Code
# ==========================================

.vscode/

# ==========================================
# Database
# ==========================================

*.db
*.sqlite
*.sqlite3

# ==========================================
# Logs
# ==========================================

*.log

# ==========================================
# OS Files
# ==========================================

.DS_Store
Thumbs.db

# ==========================================
# Jupyter
# ==========================================

.ipynb_checkpoints/

# ==========================================
# Testing & Coverage
# ==========================================

.pytest_cache/
.coverage
htmlcov/

# ==========================================
# Build Files
# ==========================================

build/
dist/
*.egg-info/

# ==========================================
# Project Documents
# ==========================================

docs/REPORT.pdf

# ==========================================
# Temporary Files
# ==========================================

*.tmp
*.temp